body {

    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%, rgba(0,109,131,1) 100%);
    font-family: 'Helvetica';
    margin: 0px;

}

h1, h2, h3 {

    color: white;
    letter-spacing: 3px;
    margin: 16px auto 16px auto;
    text-align: center;

}

h2 {

    color: goldenrod;

}

h3 {

    color: cyan;

}

p {

    color: lightblue;
    font-size: 20px;
    margin: auto;
    text-align: center;
    width: 1080px;

}

img {

    border: 4px dashed lightblue;
    border-radius: 16px;
    box-shadow: -8px 8px 8px darkblue, inset 0px 0px 64px black;
    display: block;
    margin: 32px auto 32px auto;
    width: 512px;

}